*.user
*.suo
*.swo
*.swp
*.config
*.DotSettings

.vs/
bin/
obj/
Erros/
TestResults/
packages/


Binarios/*
!Binarios/Esquemas
!Binarios/ScriptsAdicionais
!Binarios/LogConversor
Binarios/ScriptsAdicionais/*
!Binarios/ScriptsAdicionais/*.sql
Binarios/LogConversor/*

EscolarManager/EMWeb/Distribuicao/
EscolarManager/EMWeb/EscolarManager.Web/Relatorios/
EscolarManager/EMWeb/EscolarManager.Web/Upload/
EscolarManager/EMWeb/EscolarManager.Web.PortalAluno/Relatorios
EscolarManager/ResultadosDosTestes

Release/Binarios/*
Release/scripts_de_automacao/Binarios/*
Release/Web/Conversor/
Release/Web/MonitorDeAcesso/
Release/Web/Publicacao/
Release/Web/Setup/Compilados/
Release/Desktop/Setup/Compilados/
/EscolarManager/TestResults/3163e221-e38b-475b-9790-d1779ae0e641/Terabyte_DEV-1 2016-11-17 10_12_17.coverage
*.ncrunchproject
/EscolarManager/_NCrunch_EscolarManager.Full
*.ncrunchsolution
/EscolarManager/EscolarManager.WebApi.PortalAluno/Relatorios
/EscolarManager/EMWeb/EscolarManager.WebApi.PortalAluno/Relatorios
/EscolarManager/EMWeb/EscolarManager.Web/ErrosNoLog
